.fa-gear{
  transition: transform 1s;
}
.dropdown-toggle:focus>.fa-gear{
  transform: rotate(120deg);
}

.galery_img-container{
  aspect-ratio: 1/1;
  width: 100%;
  padding: 2px;
}

img {
  height: 100%;
  width: 100%;
}

.post_container-portrait{
  width: 20rem;
  margin: auto;
  margin-top: 5px;
}
.image_portrait{
  height: 20rem;
}